@font-face {
    font-family: 'OpenSans-Regular';
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
}

body {
    font-family: 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'OpenSans-Bold', sans-serif;
}

.box.box-gray {
  border: 1px solid #333;
  background: #f0f0f0;
}

.box.box-gray > .box-footer {
	background: #f0f0f0;
}

/* Estilo de Tabla Novasys*/
.table-bordered.table-custom {
  border: 1px solid #333;
}
.table-bordered.table-custom > thead > tr > td,
.table-bordered.table-custom > thead > tr > th {
	border: 1px solid #333
}
.table-bordered.table-custom > tbody > tr > th,
.table-bordered.table-custom > tfoot > tr > th,
.table-bordered.table-custom > tbody > tr > td,
.table-bordered.table-custom > tfoot > tr > td {
  border: 0.1px solid #dcdcdc;
}
table > tbody {
  background-color: white;
}
table > thead {
  background-color: #c8c8c8;
}
