body {
  font-family: "Times New Roman", Times, serif;
  font-size: 11px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.title-content {
    border: 1px solid;
    margin-bottom: 2px;
}

.num-oc {
    position: absolute;
    right: 10px;
}
.date {
    position: absolute;
    right: 30px;
    top: 100px;
}
.date2 {
    position: absolute;
    right: 142px;
    top: 120px;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.table-head th {
    padding-top: 3px;
    padding-bottom: 3px;
}
.page-break {

    page-break-inside: avoid;
}

.table table {
    padding: 0px;
    margin: 0px;
}


.footer-content {
    padding: 5px;
    border: 1px solid black;
}
.footer {
    padding: 5px;
    position: absolute;
    bottom: 0px;
}
.square {
  height: 8px;
  width: 8px;
  border: 1px solid black;
  display: inline-block;
}
.smaller-text {
    font-size: 6px !important;
}

.border-bottom {
    border-bottom: 1px solid black;
}
.border-top {
    border-top: 1px solid black;
}
