body {
  font-family: "Courier", Times, serif;
  font-size: 11px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
p {
    padding: 0px;
    margin: 0px;
}

.cliente-descripcion {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 200px;
}

.numero-fecha {
    position: absolute;
    top: 82px;
    right: 56px;
    width: 100px;

}

.medio-transporte {
    position: absolute;
    top: 140px;
    right: 250px;
    width: 100px;

}
.puerto-embarque {
    position: absolute;
    top: 185px;
    right: 250px;
    width: 100px;

}

.forma-pago {
    position: absolute;
    top: 120px;
    right: 10px;
    width: 150px;

}
.cond-venta {
    position: absolute;
    top: 185px;
    right: 50px;
    width: 100px;

}
.puerto-destino {
    position: absolute;
    top: 240px;
    right: 250px;
    width: 100px;

}

.lista-productos {
    position: absolute;
    top: 320px;
    left: 30px;
}
.lista-productos tr > td {
    font-size: 14px;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
